h1 {
    font-family:'Courier New', Courier, monospace;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a.nav-links {
    display: flex;
    float: left;
    border: 3px dashed #030;
    margin-left: 40px;
    flex-wrap: wrap;
    flex-grow: unset;
}
a.inline-link {
    font-weight: bold;
}
div.top-menu {
    display: inline-flexbox;
    height: 30px;
    flex-wrap: wrap;
}