body {
    background-color: rgb(204, 215, 221);
    border: 3px dashed black;
    display: block;
}
 
  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
body {
    background-color: rgb(180, 215, 221);
}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
body {
    background-color: rgb(160, 215, 221);
}
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.social-list {
    float: right;
    background-color: #04AA6D;
    color: white;
}
div.image-bar{
    border: 3px dashed blueviolet;
}
img {
    min-width: 500px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul.list-inline {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
li.list-item{
    display: inline;
}