h1 {
    font-family:'Courier New', Courier, monospace;
    border: 3px dashed hotpink;
}
h2 {
    border: 3px dashed salmon;
}
body {
    background: blanchedalmond;
    border: 3px dashed darkolivegreen;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}
a.nav-links {
    border: 3px dashed #030;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: #ddd;
}
a:hover {
    border: 3px solid #050;
    background: cornflowerblue;
}
a.inline-link {
    font-size:  20px;
    border: 3px dashed burlywood;
}
a.social-link{
    border: 3px dashed greenyellow;
    color: darkblue;
}
img {
    min-width: 400px;
    width: 30%;
    border: 3px dashed orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.top-menu {
    height: 40px;
    width: auto;
    border: 3px dashed darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.green {
    font-size: large;
    border: 1px solid #1a1;
}
ul.list-inline {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }